.typewriter {
    display: none;
    --caret: currentcolor;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.typewriter::after {
    content: "";
    animation: blink 0.5s linear infinite;
}
.typewriter.caret::after {
    border-right: 0.1rem solid var(--caret);
}
.typewriter.caret-thick::after {
    border-right: 1ch solid var(--caret);
}
